* {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.grid-square {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0.25px;
}

.moved-into {
    background-color: gray;
}

.new-grid-button {
    margin-bottom: 25px;
}